<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">
                Sobre
            </h2>
            <p class="footer__about-text">A informática teve seu início na história como uma precursora da revolução tecnológica, pois ela surgiu de uma dificuldade ou necessidade dentro da, quando um Francês denominado de Blaise Pascal, desenvolve a primeira máquina de calcular, a primeira calculadora, esta por sua vez foi desenvolvida para realizar cálculos</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>proway@contato.com.br</li>
                <li><i class="fa-solid fa-phone"></i>(19)1000-2020</li>
                <li><i class="fa-brands fa-whatsapp"></i>(19)9130-0001</li>
            </ul>
        </address>
   
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
